bin/
build/
out/
target/
*.class
*.jar
*.war
*.ear

*.log
*.lock
*.iml
*.ipr
*.iws
*.swp
*.swo

.gradle/
.gradle-cache/
.gradle-build/
.mvn/
!gradle-wrapper.jar   # mantiene el wrapper necesario
!mvnw                 # mantiene el wrapper necesario
!mvnw.cmd

.idea/
*.iml
*.ipr
*.iws

.project
.classpath
.settings/

.vscode/

.DS_Store
Thumbs.db

*.tmp
*.bak
*.old

.env
*.local
*.config
*.properties
*.yml
*.yaml

*.cache

